[b-dpmik84b23] .tv-lightweight-charts {
    max-width: 100% !important;
}

[b-dpmik84b23] .compact-table .mud-table-cell,
[b-dpmik84b23] .compact-table .mud-table-head .mud-table-cell {
    padding: 4px 4px;
}

[b-dpmik84b23] .compact-table .mud-table-head .mud-table-cell {
    font-size: 0.7em;
}
